.nav {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "more availability events wehicle";
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d0d0d0;
  list-style: none;
  z-index: 10;
}
.nav__navElement {
  height: 8vh;
  width: 25vw;
}
.nav__navElement-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 10px;
}
.nav__navElement-link-img {
  padding: 4px 20px 4px 20px;
  font-size: 34px;
}
.nav__navElement-link-img--active {
  border-radius: 25px;
  background-color: rgba(33, 57, 43, 0.4);
  color: #21392b;
}
.nav__navMore {
  grid-area: more;
}
.nav__navAvailability {
  grid-area: availability;
}
.nav__navEvents {
  grid-area: events;
}
.nav__navWehicle {
  grid-area: wehicle;
}

.board-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.board-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(7, 2fr) 1fr;
  gap: 4px;
}
.board-grid-wrapper--nonactive {
  display: none;
}
.board-grid-wrapper--horizontal {
  grid-template-columns: 1fr;
}

.board {
  margin-bottom: 16px;
  padding: 32px;
  border-radius: 15px;
  background-color: #d0d0d0;
}
.board--medium {
  margin: 6px;
  padding: 20px 26px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.board--small {
  margin: 6px;
  padding: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}
.board--small-active {
  background-color: rgba(33, 57, 43, 0.4);
}
.board--vsmall {
  margin: 0;
  padding: 8px;
  text-align: center;
}
.board--vsmall-active {
  background-color: rgba(33, 57, 43, 0.4);
}
.board__element {
  padding-bottom: 16px;
}
.board__element--medium {
  text-align: center;
}
.board__element--small {
  text-align: center;
  padding-bottom: 0;
  min-width: 100px;
}
.board__element--vsmall {
  text-align: center;
  padding-bottom: 4px;
}
.board__img--medium {
  font-size: 45px;
}
.board__btn {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 120px;
  background-color: #e19654;
  border: 0;
  border-radius: 8px;
  color: black;
  font-family: inherit;
  line-height: 30px;
}
.board__btn-arrow {
  font-size: 18px;
  padding: 0 5px;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}
.board__btn-arrowActive {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.board__stage-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 12px;
}
.board__stage-dots :nth-child(3) {
  margin-left: 15px;
}
.board__dot {
  margin-top: 6px;
}
.board__dot--inactive-dot {
  margin-left: 23px;
  list-style: initial;
}
.board__dot--inactive-dot::marker {
  font-size: 20px;
}
.board__dot--inactive-dot > p {
  display: none;
}

.list {
  padding: 12px;
  border-bottom: 1px solid black;
}
.list:last-of-type {
  border-bottom: none;
}
.list__item--important {
  color: #db3b2f;
}
.list__item-img {
  padding: 0 12px;
}

.calendar__nav-btn {
  padding: 25px 0;
  text-align: center;
  font-size: 23px;
  cursor: pointer;
}
.calendar__nav-btn--inactive {
  color: #9e9e9e;
  cursor: not-allowed;
}
.calendar__date {
  padding-bottom: 5px;
  font-weight: bold;
}
.calendar__work-start-hour {
  padding: 2px;
  border-radius: 10px;
  background-color: rgba(225, 150, 84, 0.8);
}
.calendar__wrapper {
  margin-bottom: 16px;
}

.range {
  margin: 5px 0;
  overflow: hidden;
  background-color: #d0d0d0;
  border-radius: 15px;
}
.range--horizontal {
  display: grid;
  gap: 4px;
  margin: 0;
}
.range__sliders-control {
  position: relative;
  height: 40vh;
  border-radius: 15px;
}
.range__sliders-control--horizontal {
  height: 6vh;
  background-color: #e19654;
}
.range__sliders-control-title {
  padding: 0 5px;
  line-height: 6vh;
}
.range__slider {
  display: none;
}
.range__slider--active {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 40vh;
  height: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  top: -20px;
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}
.range__slider--active::-moz-range-thumb {
  border: 1px solid rgba(169, 112, 63, 0.4);
  height: 40px;
  width: 20px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
}
.range__slider--active::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid rgba(169, 112, 63, 0.4);
  height: 40px;
  width: 20px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  margin-top: -1px;
}
.range__slider--horizontal {
  -webkit-transform: none;
          transform: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.range__from-slider {
  left: 0;
  z-index: 1;
}
.range__to-slider {
  right: 0;
}
.range__to-slider--horizontal {
  top: auto;
  bottom: 0;
}
.range__input {
  display: none;
}

.hour-scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}
.hour-scale__element {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hour-scale--right {
  text-align: left;
}
.hour-scale--horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
}

.main {
  padding: 16px 16px 0 16px;
}
.main__wellcome {
  padding: 20px 0;
}
.main__board-title {
  padding: 15px 0;
}

.work-day {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "date hour-start" "place hour-end";
  gap: 5px 5px;
}
.work-day__date {
  grid-area: date;
  font-size: 24px;
}
.work-day__place {
  grid-area: place;
}
.work-day__hour-start {
  grid-area: hour-start;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}
.work-day__hour-end {
  grid-area: hour-end;
  text-align: right;
}
.work-day__extra {
  margin-left: 6px;
  padding: 2px 8px;
  font-size: 12px;
  background-color: #ce0000;
  color: white;
  border-radius: 5px;
}

.return {
  padding-top: 16px;
}
.return__link {
  color: black;
  text-decoration: none;
}
.return__img {
  padding-right: 6px;
}

.carEdit {
  width: 100%;
  font-size: 22px;
}
.carEdit > div > i {
  font-size: 56px;
}
.carEdit__confirmBtn {
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #21392b;
}
.carEdit__odometer {
  display: block;
  margin: 10px auto;
  height: 48px;
  width: 80%;
  border: 1px solid #21392b;
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
}
.carEdit__confirmMessage {
  text-align: center;
  color: green;
  margin: 10px 0;
}
.carEdit__inactive {
  display: none;
}

@font-face {
  font-family: "Montserrat-Alt1";
  src: url(/fonts/MontserratAlt1-Light.woff2);
}
.loginsite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  background-color: #21392b;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.background__waves {
  height: 80vh;
}

.main {
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0;
}
.logo__img {
  padding-right: 15px;
  height: 102px;
}
.logo__txt {
  font-family: "Montserrat-Alt1", "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f6f6f6;
  font-size: 38px;
  line-height: 34px;
}

.login {
  background-color: rgba(246, 246, 246, 0.7);
  margin: 0 auto;
  max-width: 450px;
}
.login__input {
  display: block;
  margin: 5px 0;
  height: 50px;
  width: 100%;
  border: 2px solid #21392b;
  border-radius: 25px;
  outline: none;
  background-color: #d0d0d0;
  font-size: 18px;
  padding: 0 10px;
}
.login__input--btn {
  cursor: pointer;
  background-color: #21392b;
  color: #f6f6f6;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}
.login__help {
  display: none;
}
.login__help--active {
  display: block;
  padding: 10px 5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "roboto", arial;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  margin-bottom: 9vh;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */