.nav {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "more availability events wehicle";
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d0d0d0;
  list-style: none;
}
.nav__navElement {
  height: 8vh;
  width: 25vw;
}
.nav__navElement-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 10px;
}
.nav__navElement-link-img {
  padding: 4px 20px 4px 20px;
  font-size: 34px;
}
.nav__navElement-link-img--active {
  border-radius: 12px;
  background-color: rgba(62, 83, 21, 0.4);
  color: #3e5315;
}
.nav__navMore {
  grid-area: more;
}
.nav__navAvailability {
  grid-area: availability;
}
.nav__navEvents {
  grid-area: events;
}
.nav__navWehicle {
  grid-area: wehicle;
}

.board-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board {
  margin-bottom: 16px;
  padding: 32px;
  border-radius: 15px;
  background-color: #d0d0d0;
}
.board--small {
  margin: 6px;
  padding: 20px 26px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.board__element {
  padding-bottom: 16px;
}
.board__element--small {
  text-align: center;
}
.board__img--small {
  font-size: 45px;
}
.board__btn {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 120px;
  background-color: #e19654;
  border: 0;
  border-radius: 8px;
  color: black;
  font-family: inherit;
  line-height: 30px;
}
.board__btn-arrow {
  font-size: 18px;
  padding: 0 5px;
}
.board__stage-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 12px;
}
.board__dot--active-dot {
  margin: 0 5px;
}
.board__dot--inactive-dot {
  height: 10px;
  width: 10px;
  margin: 4px 5px;
  border-radius: 50%;
  background-color: black;
}
.board__dot--inactive-dot:first-child {
  height: 8px;
  width: 8px;
  margin: 5px;
}
.board__dot:last-child {
  height: 8px;
  width: 8px;
  margin: 5px;
}

.list {
  padding: 12px;
  border-bottom: 1px solid black;
}
.list:last-of-type {
  border-bottom: none;
}
.list__item-img {
  padding: 0 12px;
}

.main {
  padding: 16px 16px 0 16px;
}
.main__wellcome {
  padding: 20px 0;
}
.main__board-title {
  padding: 15px 0;
}

.work-day {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "date hour-start" "place hour-end";
  gap: 5px 5px;
}
.work-day__date {
  grid-area: date;
  font-size: 24px;
}
.work-day__place {
  grid-area: place;
}
.work-day__hour-start {
  grid-area: hour-start;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}
.work-day__hour-end {
  grid-area: hour-end;
  text-align: right;
}
.work-day__extra {
  margin-left: 6px;
  padding: 2px 8px;
  font-size: 12px;
  background-color: #ce0000;
  color: white;
  border-radius: 5px;
}

.return {
  padding-top: 16px;
}
.return__link {
  color: black;
  text-decoration: none;
}
.return__img {
  padding-right: 6px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "roboto", arial;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

body {
  margin-bottom: 9vh;
}/*# sourceMappingURL=style.css.map */