.range {
  margin: 5px 0;
  overflow: hidden;
  background-color: $background-main;
  border-radius: 15px;
  &--horizontal {
    display: grid;
    gap: 4px;
    margin: 0;
  }
  &__sliders-control {
    position: relative;
    height: 40vh;
    border-radius: 15px;
    &--horizontal {
      height: 6vh;
      background-color: $btn-main-color;
    }
  }
  &__sliders-control-title {
    padding: 0 5px;
    line-height: 6vh;
  }
  &__slider {
    display: none;
  }
  &__slider--active {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 40vh;
    height: 20px;
    transform: rotate(90deg);
    transform-origin: left bottom;
    top: -20px;

    background-color: transparent;

    -webkit-appearance: none;
    cursor: pointer;
    outline: none;

    &::-moz-range-thumb {
      border: 1px solid rgba(#a9703f, 0.4);
      height: 40px;
      width: 20px;
      border-radius: 15px;
      background: #fff;
      cursor: pointer;

      // do poprawy działanie na Firefox i MS Edge
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid rgba(#a9703f, 0.4);
      height: 40px;
      width: 20px;
      border-radius: 15px;
      background: #fff;
      cursor: pointer;
      margin-top: -1px;
    }
  }
  &__slider--horizontal {
    transform: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform-origin: left top;
  }
  &__from-slider {
    left: 0;
    z-index: 1;
  }
  &__to-slider {
    right: 0;
    &--horizontal {
      top: auto;
      bottom: 0;
    }
  }
  &__input {
    display: none;
  }
}

.hour-scale {
  display: flex;
  flex-direction: column;
  text-align: right;
  &__element {
    flex-grow: 1;
  }
  &--right {
    text-align: left;
  }
  &--horizontal {
    flex-direction: row;
    text-align: left;
  }
}
