$background-main: #d0d0d0;
$btn-main-color: #e19654;
$nav-active-btn: #3e5315;
$nav-hight: 8vh;

@import "nav";
@import "boards";
@import "calendar";
@import "start";
@import "vehicle";

* {
  box-sizing: border-box;
  font-family: "roboto", arial;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

body {
  margin-bottom: calc($nav-hight + 1vh);
}
